<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>RUCHI-19BCT0004,32,200</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/animate.min.css">
<script src="https://kit.fontawesome.com/0e070a32e4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
      <div class="toggle">
        <i class="fa fa-bars menu" aria-hidden="true"></i>
      </div>
      <p>RUCHI</p>
      <ul>
        <li></li>
        <li></li>
        <li><a href="/home" >Home</a></li>
        <li><a href="/menu" >Menu</a></li>
        <li><a href="/booking" >Reservation </a></li>
        <li><a href="/services" >Services</a></li>
        <li><a href="/about" >About Us</a></li>
        <li><a href="/contactus">Contact Us</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav> 
    </div>
    <!--contact us-->
<section class="contactus" id="contactus">
    <div class="contact_container">
          <div class="toppane">
            <h3>Contact us </h3>
          </div>
          <div class="leftpane" >
            <p>SERVICES</p>
            <p style="font-size: 18px;color:#738605de;">delivery<br>pricing<br>fast food<br>reserve your spot</p>
          </div>
          <div class="middlepane" style="padding-left: 10%;padding-right: 10%;">
            <p>INFORMATION</p>
            <p style="color:#738605de;">event<br>contact us<br>privacy policy<br>terms and services</p>
          </div>
          <div class="rightpane">
            <p>ADDRESS</p>
            <p style="color:#738605de;">Ruchi restaurant<br>VIT main gate<br>9876512340<br>Ruchifood@gmail.com</p>
          </div>
        </div>
        <div class="media">
          <ul>
              <li><a href="https://en-gb.facebook.com/login/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/login?lang=en" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/accounts/login/" target="_blank"><i class="fab fa-instagram"></i></a>
              </li>
          </ul>
      </div>
    
      </section>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.menu').click(function(){
          $('ul').toggleClass('active');
        })
      })
        </script>
    </body>
    </html>