<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>RUCHI-19BCT0004,32,200</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/animate.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
      <div class="toggle">
        <i class="fa fa-bars menu" aria-hidden="true"></i>
      </div>
      <p>RUCHI</p>
      <ul>
        <li></li>
        <li></li>
        <li><a href="/home" >Home</a></li>
        <li><a href="/menu" >Menu</a></li>
        <li><a href="/booking" >Reservation </a></li>
        <li><a href="/services" >Services</a></li>
        <li><a href="/about" >About Us</a></li>
        <li><a href="/contactus">Contact Us</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav> 
    </div>
<!-- home section -->
  <section  class="home" id="home">
    <div class="home__container">
      <div class="bg-text">
        <p></p>
        <p style="font-size: 27px;">WELCOME</p>
        <p style="font-size: 22px;">TO RUCHI</p>
      </div>
      <div class="bg2-text">
     <p style="font-family: sans-serif;font-size: 18px">The Best Food In Town Awaits<br>Book a table</p>
     </div>
     <div class="button">
       <a href="/booking" ><input  style="background-color: black;color: chartreuse;padding: 5px;"value="Reservation" type="submit"/></a></div>
    </div>
  
  </section>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.menu').click(function(){
      $('ul').toggleClass('active');
    })
  })
    </script>
</body>
</html>