<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>RUCHI-19BCT0004,32,200</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/animate.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
      <div class="toggle">
        <i class="fa fa-bars menu" aria-hidden="true"></i>
      </div>
      <p>RUCHI</p>
      
    </nav> 
    </div>
<body>
<div class="bgcontainer">
<div class="container">
<form action="/login" method="post">
    <div class="inputbox">
        <table>
            <tr>
               <td><strong>Email: </strong></td>
            </tr>
            <tr>
               <td><input type="email" name="email" required></td>
            </tr>
            <tr>
                <td><strong>Password: </strong></td>
            </tr>
            <tr>
                <td><input type="password" name="password" required></td>
            </tr>
            <tr>
                <td><button type="submit">Sign in</button></td>
            </tr>
            <tr>
              <td><button type="submit">Sign up</button></td>
          </tr>
    </div>    
</div>
</form>
<h3><%= information %></h3>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.menu').click(function(){
      $('ul').toggleClass('active');
    })
  })
    </script>
</body>
</html>