<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>RUCHI-19BCT0004,32,200</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/animate.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
      <div class="toggle">
        <i class="fa fa-bars menu" aria-hidden="true"></i>
      </div>
      <p>RUCHI</p>
      <ul>
        <li></li>
        <li></li>
        <li><a href="/">Login</a></li>
        
      </ul>
    </nav> 
    </div>
    <div class="bgcontainer">
    <div class="container" >
      <div class="inputbox">
        <p style="font-size:25px;padding-top: 100px;color:rgb(154, 212, 67);" >Logged Out Successfully!</p>
      </div>
    </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.menu').click(function(){
          $('ul').toggleClass('active');
        })
      })
        </script>
</body>
</html>






