<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>RUCHI-19BCT0004,32,200</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/animate.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
      <div class="toggle">
        <i class="fa fa-bars menu" aria-hidden="true"></i>
      </div>
      <p>RUCHI</p>
      <ul>
        <li></li>
        <li></li>
        <li><a href="/home" >Home</a></li>
        <li><a href="/menu" >Menu</a></li>
        <li><a href="/booking" >Reservation </a></li>
        <li><a href="/services" >Services</a></li>
        <li><a href="/about" >About Us</a></li>
        <li><a href="/contactus">Contact Us</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav> 
    </div>
      <!-- Menu-->
  <section   id="Menu">
    <div class="wrapper">
      <div class="title">
        <h2><span>Our Special Menu</h2>
    </div>
      <div class="menu_container">
  
          <div class="menu">
            <div class="single-menu">
              <img src="images\item1.jpg" alt="">
              <div class="menu-content">
                  <h4>PANCAKES </h4>
                  <h5>&#8377 250</h5>
              </div>
          </div>
          <div class="single-menu">
            <img src="images\dosa.jpg" alt="">
            <div class="menu-content">
                <h4>DOSA</h4>
                <h5>&#8377 50</h5>
        </div>
        </div>
        <div class="single-menu">
          <img src="images/Idli-3.jpg" alt="">
          <div class="menu-content">
              <h4> SAMBHAR IDLI</h4>
              <h5>&#8377 40</h5>
          </div>
      </div>
      <div class="single-menu">
        <img src="images\four-shakes.jpg" alt="">
        <div class="menu-content">
            <h4>MILKSHAKES</h4>
            <h5>&#8377 50</h5>
        </div>
    </div>
              <div class="single-menu">
                  <img src="images\dessert.jpg" alt="">
                  <div class="menu-content">
                      <h4>DESSERTS</h4>
                      <h5>&#8377 100</h5>
                  </div>
              </div>
              <div class="single-menu">
                  <img src="images\item2.jpg" alt="">
                  <div class="menu-content">
                      <h4>CHOCOLATE COOKIES</h4>
                      <h5>&#8377 120</h5>
                  </div>
              </div>
              <div class="single-menu">
                  <img src="images\item3.jpg" alt="">
                  <div class="menu-content">
                      <h4>CHICKEN BERGER</h4>
                      <h5>&#8377 250</h5>
                  </div>
              </div>
              <div class="single-menu">
                  <img src="images\item4.jpg" alt="">
                  <div class="menu-content">
                      <h4>CHICKEN CURRY</h4>
                      <h5>&#8377 300</h5>
                  </div>
              </div>
              <div class="single-menu">
                  <img src="images\item5.jpg" alt="">
                  <div class="menu-content">
                      <h4>chicken dragon</h4>
                      <h5>&#8377 350</h5>
                  </div>
              </div>
              <div class="single-menu">
                  <img src="images\item6.jpg" alt="">
                  <div class="menu-content">
                      <h4>Hyderabad chicken biriyani</h4>
                      <h5>&#8377 450</h5>
                  </div>
              </div>
              <div class="single-menu">
                <img src="images/punugulu.jpg" alt="">
                <div class="menu-content">
                    <h4> PUNUGULU</h4>
                    <h5>&#8377 30</h5>
                </div>
            </div>
          <div class="single-menu">
                <img src="images/lemon rice.jpg" alt="">
                <div class="menu-content">
                    <h4> LEMON RICE</h4>
                    <h5>&#8377 110</h5>
                </div>
            </div>
          <div class="single-menu">
                <img src="images/dal vada.jpg" alt="">
                <div class="menu-content">
                    <h4> MASALA VADA</h4>
                    <h5>&#8377 50</h5>
                </div>
            </div>
          <div class="single-menu">
                <img src="images/pineapple kesari.jpg" alt="">
                <div class="menu-content">
                    <h4> PINEAPPLE KESARI</h4>
                    <h5>&#8377 140</h5>
                </div>
            </div>
          <div class="single-menu">
                <img src="images/wheat appam.jpg" alt="">
                <div class="menu-content">
                    <h4> WHEAT APPAM</h4>
                    <h5>&#8377 90</h5>
                </div>
            </div>
          <div class="single-menu">
                <img src="images/masala puri.jpg" alt="">
                <div class="menu-content">
                    <h4> MASALA PURI CHAAT</h4>
                    <h5>&#8377 40</h5>
                </div>
            </div>
          </div>
      </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script type="text/javascript">
$(document).ready(function(){
  $('.menu').click(function(){
    $('ul').toggleClass('active');
  })
})
  </script>
  </body>
  </html>